venv
sentences_dataset
words_dataset
logs
.idea
test_data
manifest
model.ckpt
model.nemo
transcriptions.csv
manifest/test_manifest.json
manifest/train_manifest.json
manifest/val_manifest.json